* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-roboto);
  margin: 0px;
  padding: 0px;
  background-color: #221f20;
  /* background: url("/img/back-min.jpg") #221f20; */
  background-size: cover;
  background-repeat: no-repeat;
}
